
body {
  margin: 0;
}

.section-common {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  flex-direction: column;
}

.section-area1 {
  background-image: url("../resources/images/alone_child.jpg");
  background-size: 100%;
  /* background-color: red; */
}
.section-area2 {
  background-color: blue;
}
.section-area3 {
  background-color: pink;
}

.slide-navigation button:nth-child(1) {
  display: none;
}

.slide-navigation button:nth-last-child(1) {
  display: none;
}

.slide-navigation button {
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  width: 5px;
  height: 15px;
  margin: 0 5px;
  font-size: 0px;
  cursor: pointer;
}

.slide-navigation {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0px;
}

.slide-navigation button:disabled {
  background-color: black;
  border: 1px solid white;
}
