@font-face {
  font-family: 'MICE_medium';
  src: url('./resources/fonts/MICEGothic.ttf');
}
@font-face {
  font-family: 'MICE_bold';
  src: url('./resources/fonts/MICEGothicBold.ttf');
}

* {
  font-family: 'MICE_medium', 'MICE_bold';
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
